{include file="common/effects_header"}
	<title>{:site_name()}{$langData.work_system}-{$langData.login.login}</title>
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<link rel="stylesheet" href="/static/admin/css/login/index.css" media="all">
	<script src="/static/plugins/firework/firework.js" charset="utf-8"></script>
</head>
<body>
<div id="canvas"></div>
<div class="layui-container">
	<div class="admin-login-background">
		<div class="layui-form login-form">
			<form class="layui-form" action="">
				<div class="layui-form-item logo-title">
					<h1>{:site_name()}{$langData.work_system}</h1>
				</div>
				<div class="layui-form-item">
					<label class="layui-icon layui-icon-username" for="username"></label>
					<input type="text" name="username" lay-verify="required|account" placeholder="用户名或者邮箱" autocomplete="off" class="layui-input" value="">
				</div>
				<div class="layui-form-item">
					<label class="layui-icon layui-icon-password" for="password"></label>
					<input type="password" name="password" lay-verify="required|password" placeholder="密码" autocomplete="off" class="layui-input" value="">
				</div>
				<div class="layui-form-item">
					<label class="layui-icon layui-icon-vercode" for="captcha"></label>
					<input type="text" name="captcha" lay-verify="required|captcha" placeholder="图形验证码" autocomplete="off" class="layui-input verification captcha" value="">
					<div class="captcha-img">
						<img  id="captchaPic" src="{:url('verify')}?{:time()}" alt="captcha" onclick="this.src='{:url("verify")}?'+Math.random()"/>
					</div>
				</div>
				<div class="layui-form-item">
					<input type="checkbox" name="rememberMe" checked value="true" lay-skin="primary" title="记住密码">
				</div>
				<div class="layui-form-item">
					<button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="login" class="login">登 入</button>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>
<script>
	var verify = '{:url("verify")}?id={:time()}';
	var index_site = "{:url('index/index')}";
</script>
<script>
	document.write('<script src="/static/admin/js/login/index.js?timestamp={:time()}"><\/script>');
</script>
