<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">

	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">

	<link rel="stylesheet" href="/static/plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/static/admin/css/main.css?v={:time()}" media="all">
    <link rel="stylesheet" href="/static/plugins/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
	<script src="/static/plugins/jquery/3.4.1.min.js" charset="utf-8"></script>
	<script src="/static/plugins/layui/layui.js" charset="utf-8"></script>
	
	<style id="LM-bg-color">
    </style>

	<script type="text/javascript">
		var langData = "{$langStrData}";
		langData = JSON.parse(langData.replace(/&quot;/g,'"'));
	</script>


	